
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: black;
}

main{
    display: flex;
}

/* venstre navbar */

.logo{
    display: flex;
    margin-bottom: 20px;
    margin-top: 40px;
    width: 20%;
}

.logo-img{
    margin-right: 20px;
    width: 40px;
    font-weight: bolder;
}

.nav{
    width: 20%;
    padding-left: 100px;
    border-right: 0.5px solid rgb(180, 180, 180);
    position: fixed;
    background: white;
}

.nav-bar a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    width: 80%;
}

.nav-bar{
    display: flex;
    flex-direction: column;
    align-items: center center;
    margin-bottom: 10px;
}

.nav-bar img{
    width: 30px;
    padding-right: 10px;
}

.pip-btn{
    background-color: #26a7de;
    width: 80%;
    border-radius: 100px;
    font-size: 16px;
    border: none;
    height: 3rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.user{
    margin-top: 5rem;
}

.pp{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin-right: 25px;
}

.user a{
    display: flex;
    text-decoration: none;
    align-items: center;
}

.user-add{
    font-weight: 400;
    margin-right: 40px;
}

/* midten med posts */

.middle{
    width: 100%;
}

.middle-top{
    width: 40%;
    margin-left: 24.5rem;
    padding: 20px;
    border-bottom: 0.5px solid rgb(180, 180, 180) ;
    position: fixed;
    background: white;
    padding-top: 40px;
}

.top-pip{
    margin-top: 5rem;
    flex-wrap: wrap;
    border-bottom: 0.5px solid rgb(180, 180, 180);
    padding: 40px 40px 60px 40px;
}

.top-text{
    display: flex;
    margin-bottom: 10px;
}

.top-pip textarea{
    font-size: 16px;
    width: 65%;
}

#post-text{
    border: none;
}

.post-add-on{
    float: right;
}

.post{
    background-color: #26a7de;
    width: 100px;
    border-radius: 100px;
    font-size: 14px;
    border: none;
    height: 2rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.post-section{
    width: 40%;
    overflow: hidden;
    margin-left: 24rem;
}

/* post template */

.posts{
    padding: 20px;
    margin: 20px;
    display: flex;
}

.post-text{
    display: flex;
    flex-direction: column;
    overflow: visible;
    width: 40%;
    margin-left: 30%;
}

.post-text h4, p{
    margin-bottom: 10px;
}

.post-pic .pp{
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

/* Subcribe stylesheet */

.right-side{
    position: fixed;
    right: 0px;
    overflow:visible
}

.input-container {
    position: relative;
}

.search-input {
    margin-bottom: 10px;
    font-size: 16px;
    padding-left: 40px; 
    margin-top: 40px;
    width: 364px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid black;
}

.search-icon {
    color: #999; 
    font-size: 18px; 
    position: absolute;
    left: 15px;
    margin-top: 55px; 
    top: 5%;
    transform: translateY(-50%);
}

.subcribe-box {
    width: 400px;
    background-color:#f7f7f7;
    border-radius: 10px;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.subcribe-box h2{margin-bottom: 10px;}
.subcribe-box h4{margin-bottom: 10px;}

.subrcribe-button {
    width: 110px;
    height: 35px;
    background-color: black;
    color: white;
    font-size: 15px;
    border-radius: 20px;
    border-style: none;
    font-weight: bold;
}


.follow-box {
    width: 400px;
    background-color:#f7f7f7;
    height: 400px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    padding-top: 1px;
    padding-left: 10px;

}


.users img{
    border-radius: 50%;
    width: 70px;
    display: flex;
    padding: 7px;
    margin-top: 4px;

}

.button-follow {
    width: 70px;
    height: 30px;
    background-color: black;
    color: white;
    border-radius: 20px;
    border-style: none;
    font-weight: bold;
    font-size: 14px;
    margin-left: 75px;
}

.users {
    display: flex;
    align-items: center;
}

.users h4, p{
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.trends-box {
    background-color:#f7f7f7;
    width: 390px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.trends h4, p {
    margin: 0;
}

.trends {
    margin-top: 20px;
}

.fa-ellipsis-h {
    margin-left: 315px;
    display: flex;
    align-items: baseline;
}

/* end of subcribe stylesheets */

/* start pip window */

#charCount{
    color: lightgrey;
}

#pipModal {
    display: none;
    position: fixed;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 1;
 
}

.pip-content {
    background: white;
    width: 500px;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 5px solid #26a7de;
    background-color: rgba (0, 0, 0, 0.5);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.close {
    cursor: pointer;
    font-size: 20px;
}

.profile-picture img {
    width: 50px; 
    height: 50px; 
    border-radius: 50%;
    margin-right: 10px;
}

.area-text textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    margin-bottom: 15px; 
    margin-top: 5px;
}
.who{
    color: #26a7de;
    margin: 15px 0;
    display: inline-flex;
    align-items: center;
    padding: 7px 10px;
    border-radius: 50px;
    cursor: pointer;
    transition: background 0.2s ease;
}

.who i{
    font-size: 15px;
}

.who span{
    color: #26a7de;
    font-size: 15px;
    font-weight: 600;
    margin-left: 7px;
}

.fa-solid{
    color: #26a7de;
}

.icons {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: flex-start; /* Align icons to the left */
    color: #26a7de;
}

.icons li {
    margin-right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.fas {
    color: #26a7de;
}

.fa-regular{
    color: #26a7de;
}

.pip-button {
    display: flex;
    justify-content: flex-end; 
    width: 100%;
    margin-top: auto;
    justify-content: flex-end; /* Align button to the right */
}

button {
    background-color: #26a7de;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
}

.modal-bottom{
    display: flex;
    margin-top: 13px;
    align-items: center;
    justify-content: space-between;
}

.modal-bottom .icons{
    display: inline-flex;
}

.icons li{
    list-style: none;
    color: #26a7de;
    font-size: 20px;
    margin: 0 2px;
    height: 38px;
    width: 38px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.modal-bottom button{
    padding: 9px 15px;
    border: none;
    outline: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
    background: #26a7de;
    color: #fff;
    cursor: pointer;
}

#postBtn{
    padding: 9px 15px;
    border: none;
    outline: none;
    border-radius: 50px;
    font-size: 16px;
    background: #26a7de;
    color: #fff;
    cursor: pointer;
}

#username-text{
    border: none;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    margin-bottom: 15px; 
    margin-top: 5px;
}

/* slut pip window */

